
<app-map-stats></app-map-stats>
<app-map></app-map>
<div class="px-4 py-2 text-center">
   <div class="col-lg-6 mx-auto">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 d-lg-flex align-items-center">
          <p class="mb-0">Prove that the path satisfies validation criteria.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-proof></app-proof>

<div class="col-lg-6 mx-auto pb-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <img src="/assets/galois.svg" alt="galois.svg">
      </div>
      <div class="col-12 col-lg-4">
        <img src="/assets/Cybernetica_logo_color_RGB.svg" alt="Cybernetica_logo_color_RGB.svg">
      </div>
      <div class="col-12 col-lg-4">
        <img class="img-fluid" src="/assets/sieve.jpg" alt="sieve.jpg">
      </div>
    </div>
  </div>
</div>

<app-toasts></app-toasts>
